<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <script src='watch.js'></script>
  <title>Watch</title>
</head>
<%- include('partials/dreamfield') %>
<body>
  <%- include('partials/header') %>
  <section id="content">
  </section>
  <%- include('partials/footer') %>
</body>
<script defer>
  <% if (Number(videoId) === 0) { %>
    showRandom();
  <% } else { %>
    show('<%= videoId %>');
  <% } %>
</script>

</html>